## Basic operations and types

### Assignment and evaluation

In [1]:
a = 1
b = a + 2
b + a

4

### Evaluation with the `print`-function

In [2]:
a = 1
b = a + 2
print(b + a)

4

Note that the variable type is not declared:
```C
int a = 1;
```
In python this is done automatically.

In [3]:
type(1)

int

In [4]:
type(1.0)

float

In [5]:
i = 1
f = 1.0
s = 'Hello, world!'
b = 1 == 0
type(i), type(f), type(s), type(b)

(int, float, str, bool)

In [6]:
f = 1.0
f_i = int(f)
print(f, 'to', f_i, type(f_i))

f = 1.6
f_i = int(f)
print(f, 'to', f_i, type(f_i))

i = 1
i_f = float(i)
print(i, 'to', i_f, type(i_f))

i = 1
i_s = str(s)
print(i, 'to', i_s, type(i_s))

1.0 to 1 <class 'int'>
1.6 to 1 <class 'int'>
1 to 1.0 <class 'float'>
1 to Hello, world! <class 'str'>

### Containers: Lists, tuples, strings and dictionaries

In [7]:
colors = ['red', 'blue', 'green', 'black', 'white']
objects = ['cube', 3, colors]
colors, objects

(['red', 'blue', 'green', 'black', 'white'],
 ['cube', 3, ['red', 'blue', 'green', 'black', 'white']])

In [8]:
type(colors)

list

In [9]:
colors[0], colors[2], colors[4]

('red', 'green', 'white')

In [10]:
#colors[5]

In [11]:
colors[-1], colors[4]

('white', 'white')

In [12]:
colors[-2], colors[3]

('black', 'black')

In [13]:
colors[0:2]

['red', 'blue']

In [14]:
colors[2:-2]

['green']

In [15]:
colors[:]

['red', 'blue', 'green', 'black', 'white']

In [16]:
colors[3:], colors[:3]

(['black', 'white'], ['red', 'blue', 'green'])

In [17]:
colors[0:5:2], colors[::2], colors[::-1]

(['red', 'green', 'white'],
 ['red', 'green', 'white'],
 ['white', 'black', 'green', 'blue', 'red'])

Assignment to existing lists, and list modules (list manipulation):

In [18]:
colors[0] = 'yellow'
colors

['yellow', 'blue', 'green', 'black', 'white']

In [19]:
colors[2:4] = ['gray', 'purple']
colors

['yellow', 'blue', 'gray', 'purple', 'white']

In [20]:
colors.append('pink')
colors

['yellow', 'blue', 'gray', 'purple', 'white', 'pink']

In [21]:
colors.pop(-1)

'pink'

In [22]:
colors.extend(['pink', 'orange'])
colors

['yellow', 'blue', 'gray', 'purple', 'white', 'pink', 'orange']

Just like in bash, you can type `colors.` and hit TAB, to display a list for tab-completion.

Basic list-operations (note that lists are not arrays!)

In [23]:
colors + ['magenta', 'cyan']
colors

['yellow', 'blue', 'gray', 'purple', 'white', 'pink', 'orange']

In [24]:
numbers = [1, 2, 3]
numbers + numbers, numbers * 2

([1, 2, 3, 1, 2, 3], [1, 2, 3, 1, 2, 3])

Tuples behave just like lists, but they are immutable.

In [25]:
fruit = ('apple', 'banana', 'pear')
#fruit[1] = 'pineapple'

Assignment using lists:

In [26]:
numbers = [1, 2, 3]
a = numbers
print(a)

a1, a2, a3 = numbers
print(a1, a2, a3)

a = 1, 2, 3
print(a)

a1, a2, a3 = 1, 2, 3
print(a)

[1, 2, 3]
1 2 3
(1, 2, 3)
(1, 2, 3)

Strings are immutable lists of characters, therefore they are essentially tuples:

In [27]:
s = "Hello, world!"
s[2:4]

'll'

In [28]:
#s[2:4] = "zz"

In [29]:
s1 = "Hello, world!"
s2 = 'Hello, world!'
s3 = '''Hello, world!'''
s4 = """
Hello, world!"""
print(s1, s2, s3, s4)

Hello, world! Hello, world! Hello, world!
Hello, world!

Again, strings come with many useful methods. With `s.` and hitting TAB, you can have a look at all of them.

In [30]:
s.replace('l', 'z')

'Hezzo, worzd!'

In [31]:
s.find('l')

2

Dictionaries are unordered, but labeled lists. Similar to tables.

In [32]:
cargo = {'bananas': 45, 'apples': 32, 'milk': 40}
cargo

{'bananas': 45, 'apples': 32, 'milk': 40}

In [33]:
#cargo[0]
cargo['bananas']

45

In [34]:
cargo['milk'] = 0
cargo

{'bananas': 45, 'apples': 32, 'milk': 0}

In [35]:
cargo.keys()

dict_keys(['bananas', 'apples', 'milk'])

In [36]:
cargo.values()

dict_values([45, 32, 0])

In [37]:
cargo1, cargo2, cargo3 = cargo.values()
cargo1, cargo2, cargo3

(45, 32, 0)

Careful with the assignment: use tuples instead of lists as much as possible!

In [38]:
numbers = [1, 2, 3]
a = numbers
print(numbers, a)

a[0] = 100
print(a[0])

print(numbers, a)

[1, 2, 3] [1, 2, 3]
100
[100, 2, 3] [100, 2, 3]

In [39]:
numbers = (1, 2, 3)
a = numbers
print(numbers, a)

#a[0] = 100
#print(numbers[0])

#print(numbers, a)

(1, 2, 3) (1, 2, 3)

In [40]:
numbers = [1, 2, 3]
a = numbers.copy()
print(numbers, a)

a[0] = 100
print(numbers[0])

print(numbers, a)

[1, 2, 3] [1, 2, 3]
1
[1, 2, 3] [100, 2, 3]

### if/elif/else and True/False

In [41]:
if 2 < 4:
    print('2 < 4')

2 < 4

In [42]:
if 2 > 4:
    print('2 > 4')

In [43]:
if 2 > 4:
    print('2 > 4')
else:
    print('2 < 4')

2 < 4

In [44]:
if 2 > 4:
    print('2 > 4')
if 4 > 4:
    print('4 > 4')
else:
    print('nothing > 4')

nothing > 4

In [45]:
if 6 > 4:
    print('6 > 4')
if 8 > 4:
    print('8 > 4')
else:
    print('nothing > 4')

6 > 4
8 > 4

In [46]:
if 6 > 4:
    print('6 > 4')
elif 8 > 4:
    print('8 > 4')
else:
    print('nothing > 4')

6 > 4

In [47]:
a = True
b = False

if a:
    print('a is True')
if b:
    print('b is False')

a is True

In [48]:
a = 5 < 12
a

True

In [49]:
a = 6 == 6
b = 10 != 6
print(a, b)

if a and b:
    print('for AND both have to be true')

b = False
if a or b:
    print('for OR only one needs to be true')

if not b:
    print('NOT negates the following boolean')

True True
for AND both have to be true
for OR only one needs to be true

### Loops with `for` and `while`

In [50]:
for i in range(4):
    print(i)

0
1
2
3

In [51]:
letters = ('a', 'b', 'c', 'd')
for i in range(4):
    print('index i =', i, ', letters[i] =', letters[i])

index i = 0 , letters[i] = a
index i = 1 , letters[i] = b
index i = 2 , letters[i] = c
index i = 3 , letters[i] = d

In [52]:
letters = ('a', 'b', 'c', 'd')
for letter in letters:
    print(letter)

a
b
c
d

In [53]:
letters = ('a', 'b', 'c', 'd')
for i, letter in enumerate(letters):
    print(i, letter)

0 a
1 b
2 c
3 d

In [54]:
irange = range(4)
letters = ('a', 'b', 'c', 'd')
for i, letter in zip(irange, letters):
    print(i, letter)

0 a
1 b
2 c
3 d

In [55]:
numbers = (1, 2, 3, 4)
colors = ('red', 'green', 'blue', 'yellow')
letters = ('a', 'b', 'c', 'd')
for n, c, l in zip(numbers, colors, letters):
    print(n, c, l)

1 red a
2 green b
3 blue c
4 yellow d

In [56]:
i = 0
while(i < 4):
    print(i)
    i = i + 1

0
1
2
3

In [57]:
i = 0
letters = ('a', 'b', 'c', 'd')
while(i < 4):
    print(i, letters[i])
    i = i + 1

0 a
1 b
2 c
3 d

In [58]:
i = 0
while(True):
    print(i)
    if i == 3:
        break
        
    i = i + 1

0
1
2
3

In [59]:
x, y = (0, 1, 2, 3, 4, 5, 6, 7), (0, 1, 2, 3, 4, 5, 6, 7)
xy2 = []
for x_ in x:
    for y_ in y:
        xy2.append(x_**2 + y_**2)

print(xy2)

[0, 1, 4, 9, 16, 25, 36, 49, 1, 2, 5, 10, 17, 26, 37, 50, 4, 5, 8, 13, 20, 29, 40, 53, 9, 10, 13, 18, 25, 34, 45, 58, 16, 17, 20, 25, 32, 41, 52, 65, 25, 26, 29, 34, 41, 50, 61, 74, 36, 37, 40, 45, 52, 61, 72, 85, 49, 50, 53, 58, 65, 74, 85, 98]