## 0. DataCamp

Those who want to continue using DataCamp can find the pandas course [here](https://campus.datacamp.com/courses/intermediate-python/dictionaries-pandas?ex=9).

## 1. Getting and knowing your data

*Source: https://pandas.pydata.org/docs/getting_started/tutorials.html, Ex 01_03*

Import data from a csv-table and go through the following steps to familliarize yourself with the pandas dataframe:

In [1]:
import pandas as pd

1.1 Given the csv-file below, import its data, seperate by `|` and make use the first column as index

In [ ]:
csv_file = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user'

1.2 View the first 5 rows

1.3 View the last 2 entries

1.4. Display the number of rows and columns of the dataset (using methods of the dataframe)

1.5 Display the labels of all columns

1.6 Display the index list

1.7 Display the data type of each column

1.8 Display only the `occupation`-column

1.9 Use `describe()` to display some statistical information about the data set. Set the according keywords such that all columns are returned (by default only numeric columns are returned)

1.10 Display some statistical inforamtion about only the `age`-column

1.11 What is the mean age of users?

1.12 Find a way to display the age with least occurence

## 2. Merging data frames

Have a look at the output from a data frame `df` of the very last cell.

1. Create `df` manually (manually means create the data first, then call `pd.DataFrame()`).
2. Create `df` by merging a data frame with a copy of itself.

In [1]:
import numpy as np
import pandas as pd

... 

df

   A   B   C
0  0   1   2
1  3   4   5
2  6   7   8
3  9  10  11
4  0   1   2
5  3   4   5
6  6   7   8
7  9  10  11